.main_app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 16px;
    min-width: 300px;
    line-height: 20px;
    .label {
        flex-basis: 80px;
        font-weight: bold;
        white-space: nowrap;
    }

    .action-btn {
        button {
            flex-basis: 50%;
            flex-grow: 1;
        }
    }
}